In [1]:
from main import RFest
from sklearn.ensemble import RandomForestRegressor
import numpy as np
import time
import pandas as pd

In [2]:
#Checking number of cores
estimator=RFest(drop_rate=0.9999)

In [3]:
estimator.rows_range=[100000]

In [4]:
df=estimator._generate_data()

2018-10-03 15:47:41,666 - main - Generating dummy training durations to create a training set
2018-10-03 15:47:41,816 - main - data added for (100000, 5, 10, 10, 4, 1, 0.25, 'auto', 4, 10, 5, False, False, 8) which outputs 0.1194758415222168 seconds
2018-10-03 15:47:41,985 - main - data added for (100000, 5, 10, 50, 10, 5, 0.25, 'auto', 10, 5, 5, True, False, 2) which outputs 0.10839700698852539 seconds
2018-10-03 15:47:42,041 - main - data added for (100000, 5, 10, 100, 2, 1, 0.25, 'auto', 2, 10, 1, True, False, 1) which outputs 0.037522315979003906 seconds
2018-10-03 15:47:42,183 - main - data added for (100000, 5, 10, 100, 10, 1, 0.25, 'auto', 10, 1, 1, True, False, 8) which outputs 0.10955500602722168 seconds
2018-10-03 15:47:42,383 - main - data added for (100000, 5, 50, 50, 4, 1, 0.5, 'auto', 10, 1, 1, True, False, 8) which outputs 0.13564705848693848 seconds
2018-10-03 15:47:42,789 - main - data added for (100000, 5, 100, 100, 4, 10, 0.25, 'auto', 4, 1, 5, True, False, 2) which outputs 0.2625610828399658 seconds
2018-10-03 15:47:42,976 - main - data added for (100000, 5, 100, 100, 10, 1, 0.25, 'auto', 2, 1, 5, False, False, 5) which outputs 0.17246103286743164 seconds
2018-10-03 15:47:43,208 - main - data added for (100000, 50, 10, 10, 4, 10, 0.5, 'auto', 10, 5, 10, False, False, 5) which outputs 0.12811493873596191 seconds
2018-10-03 15:47:43,398 - main - data added for (100000, 50, 10, 10, 10, 1, 0.25, 10, 2, 1, 1, True, False, 8) which outputs 0.12024092674255371 seconds
2018-10-03 15:47:43,608 - main - data added for (100000, 50, 10, 50, 4, 5, 0.1, 10, 2, 1, 5, True, False, 2) which outputs 0.11763286590576172 seconds
2018-10-03 15:47:43,707 - main - data added for (100000, 50, 10, 100, 2, 1, 0.5, 'auto', 4, 5, 10, False, False, 1) which outputs 0.01910686492919922 seconds
2018-10-03 15:47:43,900 - main - data added for (100000, 50, 10, 100, 4, 5, 0.5, 'auto', 10, 1, 5, False, False, 8) which outputs 0.1227118968963623 seconds
2018-10-03 15:47:44,091 - main - data added for (100000, 50, 10, 100, 10, 1, 0.25, 10, 4, 1, 1, False, False, 5) which outputs 0.12133026123046875 seconds
2018-10-03 15:47:44,275 - main - data added for (100000, 50, 10, 100, 10, 5, 0.25, 'auto', 2, 5, 5, True, False, 5) which outputs 0.11853694915771484 seconds
2018-10-03 15:47:44,466 - main - data added for (100000, 50, 10, 100, 10, 10, 0.5, 10, 4, 1, 10, False, False, 8) which outputs 0.11870002746582031 seconds
2018-10-03 15:47:44,598 - main - data added for (100000, 50, 50, 10, 2, 1, 0.1, 10, 2, 1, 1, False, False, 1) which outputs 0.06615805625915527 seconds
2018-10-03 15:47:44,848 - main - data added for (100000, 50, 50, 50, 4, 5, 0.25, 'auto', 4, 10, 10, False, False, 8) which outputs 0.1454789638519287 seconds
2018-10-03 15:47:45,068 - main - data added for (100000, 50, 50, 50, 10, 5, 0.1, 10, 10, 1, 5, False, False, 5) which outputs 0.14408302307128906 seconds
2018-10-03 15:47:45,291 - main - data added for (100000, 50, 50, 100, 4, 5, 0.25, 10, 4, 1, 1, False, False, 8) which outputs 0.1448378562927246 seconds
2018-10-03 15:47:45,606 - main - data added for (100000, 50, 50, 100, 4, 10, 0.1, 10, 4, 10, 5, True, False, 8) which outputs 0.24690008163452148 seconds
2018-10-03 15:47:45,835 - main - data added for (100000, 50, 50, 100, 10, 5, 0.5, 10, 2, 5, 1, False, False, 8) which outputs 0.1452805995941162 seconds
2018-10-03 15:47:46,218 - main - data added for (100000, 50, 100, 50, 4, 10, 0.25, 10, 2, 1, 5, True, False, 5) which outputs 0.2701382637023926 seconds
2018-10-03 15:47:46,597 - main - data added for (100000, 50, 100, 100, 4, 5, 0.25, 10, 4, 10, 5, True, False, 5) which outputs 0.2852959632873535 seconds
2018-10-03 15:47:46,907 - main - data added for (100000, 100, 10, 10, 4, 10, 0.25, 'auto', 4, 10, 10, False, False, 2) which outputs 0.13043522834777832 seconds
2018-10-03 15:47:47,306 - main - data added for (100000, 100, 50, 100, 2, 1, 0.1, 10, 4, 1, 5, False, False, 2) which outputs 0.15572524070739746 seconds
2018-10-03 15:47:47,496 - main - data added for (100000, 100, 50, 100, 2, 5, 0.1, 10, 10, 10, 10, False, False, 1) which outputs 0.06975889205932617 seconds
2018-10-03 15:47:47,763 - main - data added for (100000, 100, 50, 100, 4, 5, 0.25, 10, 2, 5, 10, True, False, 2) which outputs 0.14696502685546875 seconds
2018-10-03 15:47:48,038 - main - data added for (100000, 100, 50, 100, 10, 1, 0.5, 10, 2, 5, 5, False, False, 5) which outputs 0.15386199951171875 seconds
2018-10-03 15:47:48,317 - main - data added for (100000, 100, 50, 100, 10, 5, 0.5, 10, 10, 5, 5, False, False, 8) which outputs 0.15498709678649902 seconds
2018-10-03 15:47:48,847 - main - data added for (100000, 100, 100, 10, 4, 5, 0.1, 10, 4, 5, 1, True, False, 8) which outputs 0.3746509552001953 seconds
2018-10-03 15:47:49,621 - main - data added for (100000, 100, 100, 100, 4, 1, 0.5, 'auto', 2, 10, 5, True, False, 2) which outputs 0.5305349826812744 seconds

In [4]:
cd

/Users/nathantoubiana

In [5]:
cd Downloads/

/Users/nathantoubiana/Downloads

In [6]:
df=pd.read_csv('result.csv')
df2=pd.read_csv('result-2.csv')
cols=['num_rows',
'num_features','n_estimators',
'max_depth',
'min_samples_split',
'min_samples_leaf',
'min_weight_fraction_leaf',
'max_features',
'max_leaf_nodes',
'min_impurity_decrease',
'min_impurity_split',
'bootstrap',
'oob_score',
'n_jobs','output']
df.columns=cols
df2.columns=cols
df=pd.concat([df,df2])
outputs=df[['output']]
del df['output']

In [7]:
cd

/Users/nathantoubiana

In [8]:
cd Documents/Codes/scikest/scikest/scikest

/Users/nathantoubiana/Documents/Codes/scikest/scikest/scikest

In [9]:
estimatorS=RFest(algo_estimator='RF')

In [10]:
estimatorS._model_fit(generate_data=False,outputs=outputs,df=df)

2018-10-06 12:20:05,133 - main - Fitting RF to estimate training durations
2018-10-06 12:20:05,220 - main - Saving RF to RF_estimator.pkl
2018-10-06 12:20:05,237 - main - R squared on train set is 0.9982242155326969
2018-10-06 12:20:05,249 - main - MAPE on train set is: 1.4395507051656695
2018-10-06 12:20:05,252 - main - MAPE on test set is: 3.3731171159021365
2018-10-06 12:20:05,254 - main - RMSE on train set is 0.6780559128064115
2018-10-06 12:20:05,258 - main - RMSE on test set is 2.7051729804108375

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [27]:
outputs

         output
0      0.116400
1      0.109857
2      0.109525
3      0.111588
4      0.110117
5      0.110538
6      0.036974
7      0.110499
8      0.110051
9      0.109422
10     0.109836
11     0.110090
12     0.015244
13     0.112421
14     0.110693
15     0.109539
16     0.110155
17     0.136123
18     0.135419
19     0.136458
20     0.135760
21     0.134799
22     0.135999
23     0.136894
24     0.135698
25     0.136063
26     0.068027
27     0.135900
28     0.136978
29     0.065058
...         ...
2577  13.066576
2578  83.341798
2579  49.416020
2580  10.167551
2581  26.941765
2582  84.516469
2583  85.098203
2584   9.851790
2585  13.032985
2586  85.044441
2587  26.652886
2588   9.934242
2589  27.970823
2590  28.239923
2591  22.527636
2592  14.333293
2593  10.005458
2594  51.341994
2595   9.939292
2596  22.147537
2597  50.220989
2598  22.150665
2599  13.379145
2600  50.631554
2601  28.092760
2602  85.849083
2603  26.903155
2604   9.902700
2605  21.908098
2606  89.199514

[3623 rows x 1 columns]

In [13]:
df.tail(2)

,num_rows,num_features,n_estimators,max_depth,min_samples_split,min_samples_leaf,min_weight_fraction_leaf,max_features,max_leaf_nodes,min_impurity_decrease,min_impurity_split,bootstrap,oob_score,n_jobs
2605,10000000,100,100,200,10,10,0.25,20,4,5,5,True,False,8
2606,10000000,100,100,200,10,10,0.50,auto,10,10,10,True,False,1

In [21]:
rf= RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=200,
           max_features='auto', max_leaf_nodes=10, min_impurity_decrease=10,
           min_impurity_split=10, min_samples_leaf=10,
           min_samples_split=10, min_weight_fraction_leaf=0.5,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [23]:
estimatorS.estimate_duration(np.random.rand(100000,100),rf)

2018-09-22 19:12:22,473 - main - Fetching estimator: RF_estimator.pkl
2018-09-22 19:12:22,497 - main - Training your model should take ~ 0.387508034706 seconds

array([ 0.38750803])

In [29]:
estimatorS.algo_estimator

'RF'

In [5]:
X,y=np.random.rand(10000000,10),np.random.rand(10000000,1)
start_time = time.time()
rf.fit(X,y)
elapsed_time = time.time() - start_time

In [6]:
elapsed_time

67.73310685157776

In [33]:
outputs.tail(100)

         output
2507  27.990400
2508   7.038882
2509   7.089946
2510   6.776549
2511  14.106352
2512   7.116777
2513   7.031685
2514  51.482451
2515  10.460579
2516  91.108263
2517  13.636258
2518  13.415228
2519  27.763313
2520  26.960358
2521  87.911498
2522   9.813354
2523  27.869259
2524  10.271406
2525   9.961675
2526  10.593755
2527  51.827018
2528  85.407759
2529  10.424347
2530  10.541711
2531  27.183438
2532   9.986944
2533   9.862441
2534  26.908265
2535  50.160006
2536   9.335468
...         ...
2577  13.066576
2578  83.341798
2579  49.416020
2580  10.167551
2581  26.941765
2582  84.516469
2583  85.098203
2584   9.851790
2585  13.032985
2586  85.044441
2587  26.652886
2588   9.934242
2589  27.970823
2590  28.239923
2591  22.527636
2592  14.333293
2593  10.005458
2594  51.341994
2595   9.939292
2596  22.147537
2597  50.220989
2598  22.150665
2599  13.379145
2600  50.631554
2601  28.092760
2602  85.849083
2603  26.903155
2604   9.902700
2605  21.908098
2606  89.199514

[100 rows x 1 columns]

In [31]:
df.tail(100)

,num_rows,num_features,n_estimators,max_depth,min_samples_split,min_samples_leaf,min_weight_fraction_leaf,max_features,max_leaf_nodes,min_impurity_decrease,min_impurity_split,bootstrap,oob_score,n_jobs
2507,10000000,100,50,200,10,5,0.50,auto,10,1,1,True,False,2
2508,10000000,100,50,200,10,5,0.50,50,4,10,1,False,False,5
2509,10000000,100,50,200,10,10,0.10,20,4,10,1,False,False,5
2510,10000000,100,50,200,10,10,0.25,auto,4,1,1,False,False,8
2511,10000000,100,50,200,10,10,0.25,20,2,1,5,True,False,8
2512,10000000,100,50,200,10,10,0.25,50,4,1,1,False,False,2
2513,10000000,100,50,200,10,10,0.50,20,4,5,10,False,False,2
2514,10000000,100,100,10,2,1,0.10,auto,2,10,5,True,False,2
2515,10000000,100,100,10,2,1,0.10,20,4,5,5,False,False,8
2516,10000000,100,100,10,2,1,0.25,10,4,5,5,True,False,1
2517,10000000,100,100,10,2,1,0.50,20,2,5,1,False,False,1
2518,10000000,100,100,10,2,1,0.50,20,2,10,10,False,False,1
2519,10000000,100,100,10,2,5,0.10,auto,10,10,10,True,False,5
2520,10000000,100,100,10,2,10,0.10,20,10,1,1,True,False,5
2521,10000000,100,100,10,4,1,0.10,auto,10,10,10,True,False,1
2522,10000000,100,100,10,4,1,0.10,20,2,5,5,False,False,2
2523,10000000,100,100,10,4,1,0.25,20,4,10,5,True,False,5
2524,10000000,100,100,10,4,1,0.25,50,2,10,10,False,False,8
2525,10000000,100,100,10,4,1,0.50,10,2,10,1,False,False,8
2526,10000000,100,100,10,4,5,0.10,20,4,10,5,False,False,2
2527,10000000,100,100,10,4,5,0.10,20,10,5,1,True,False,2
2528,10000000,100,100,10,4,5,0.50,auto,4,5,5,True,False,1
2529,10000000,100,100,10,4,10,0.25,50,4,5,1,False,False,8
2530,10000000,100,100,10,10,1,0.10,10,4,5,5,False,False,8
2531,10000000,100,100,10,10,1,0.10,20,4,1,5,True,False,5
2532,10000000,100,100,10,10,1,0.10,20,10,1,5,False,False,8
2533,10000000,100,100,10,10,1,0.25,10,2,10,1,False,False,8
2534,10000000,100,100,10,10,1,0.25,50,2,10,10,True,False,5
2535,10000000,100,100,10,10,1,0.50,20,4,5,5,True,False,2
2536,10000000,100,100,10,10,5,0.10,auto,4,1,5,False,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,10000000,100,100,100,10,10,0.10,20,10,10,1,False,False,1
2578,10000000,100,100,100,10,10,0.10,50,4,10,5,True,False,1
2579,10000000,100,100,100,10,10,0.25,20,10,1,1,True,False,2
2580,10000000,100,100,100,10,10,0.50,10,10,1,10,False,False,5
2581,10000000,100,100,100,10,10,0.50,20,10,1,1,True,False,5
2582,10000000,100,100,100,10,10,0.50,50,4,1,10,True,False,1
2583,10000000,100,100,200,2,1,0.10,20,10,5,10,True,False,1
2584,10000000,100,100,200,2,1,0.25,50,2,1,1,False,False,2
2585,10000000,100,100,200,2,1,0.50,auto,4,1,1,False,False,1
2586,10000000,100,100,200,2,5,0.10,50,4,1,5,True,False,1
2587,10000000,100,100,200,2,5,0.10,50,4,1,5,True,False,5
2588,10000000,100,100,200,2,5,0.25,50,2,1,5,False,False,5
2589,10000000,100,100,200,2,10,0.10,auto,10,5,10,True,False,5
2590,10000000,100,100,200,2,10,0.10,10,4,10,10,True,False,5
2591,10000000,100,100,200,2,10,0.10,20,4,10,1,True,False,8
2592,10000000,100,100,200,4,1,0.10,auto,2,5,5,False,False,1
2593,10000000,100,100,200,4,1,0.10,20,4,5,10,False,False,2
2594,10000000,100,100,200,4,1,0.25,auto,2,1,10,True,False,2
2595,10000000,100,100,200,4,1,0.50,50,10,5,1,False,False,2
2596,10000000,100,100,200,4,5,0.10,50,10,1,5,True,False,8
2597,10000000,100,100,200,4,5,0.25,10,2,10,5,True,False,2
2598,10000000,100,100,200,4,5,0.25,20,10,10,10,True,False,8
2599,10000000,100,100,200,4,5,0.50,10,2,1,5,False,False,1
2600,10000000,100,100,200,4,10,0.50,50,2,5,1,True,False,2
2601,10000000,100,100,200,10,1,0.10,auto,2,1,10,True,False,5
2602,10000000,100,100,200,10,1,0.10,50,2,1,5,True,False,1
2603,10000000,100,100,200,10,5,0.25,auto,4,1,10,True,False,5
2604,10000000,100,100,200,10,5,0.50,auto,2,1,1,False,False,2
2605,10000000,100,100,200,10,10,0.25,20,4,5,5,True,False,8
2606,10000000,100,100,200,10,10,0.50,auto,10,10,10,True,False,1