In [7]:
from main import RFest
from sklearn.ensemble import RandomForestRegressor
import numpy as np
import time
import pandas as pd

In [2]:
#Checking number of cores
estimator=RFest(drop_rate=0.9999)

In [3]:
estimator.rows_range=[100000,200000,500000,700000,1000000,5000000,10000000,20000000,50000000]

In [ ]:
df=estimator.generate_data()

In [21]:
cd

/Users/nathantoubiana

In [22]:
cd Downloads/

/Users/nathantoubiana/Downloads

In [24]:
df=pd.read_csv('result.csv')
df2=pd.read_csv('result-2.csv')
cols=['num_rows',
'num_features','n_estimators',
'max_depth',
'min_samples_split',
'min_samples_leaf',
'min_weight_fraction_leaf',
'max_features',
'max_leaf_nodes',
'min_impurity_decrease',
'min_impurity_split',
'bootstrap',
'oob_score',
'n_jobs','output']
df.columns=cols
df2.columns=cols
df=pd.concat([df,df2])
outputs=df[['output']]
#del df['output']

In [31]:
cd

/Users/nathantoubiana

In [32]:
cd Documents/Codes/scikest/scikest/

/Users/nathantoubiana/Documents/Codes/scikest/scikest

In [10]:
estimatorS=RFest(algo_estimator='RF')

In [9]:
estimator.model_fit(generate_data=False,outputs=outputs,df=df)

2018-09-12 20:10:15,508 - main - Fitting RF to estimate training durations
2018-09-12 20:10:15,584 - main - Saving RF to RF_estimator.pkl
2018-09-12 20:10:15,598 - main - R squared on train set is 0.997912636089783
2018-09-12 20:10:15,609 - main - MAPE on train set is: 1.3551599618324697
2018-09-12 20:10:15,613 - main - MAPE on test set is: 3.3244135625343194
2018-09-12 20:10:15,616 - main - RMSE on train set is 0.7351390050933879
2018-09-12 20:10:15,618 - main - RMSE on test set is 2.243058551297587

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [27]:
outputs

         output
0      0.116400
1      0.109857
2      0.109525
3      0.111588
4      0.110117
5      0.110538
6      0.036974
7      0.110499
8      0.110051
9      0.109422
10     0.109836
11     0.110090
12     0.015244
13     0.112421
14     0.110693
15     0.109539
16     0.110155
17     0.136123
18     0.135419
19     0.136458
20     0.135760
21     0.134799
22     0.135999
23     0.136894
24     0.135698
25     0.136063
26     0.068027
27     0.135900
28     0.136978
29     0.065058
...         ...
2577  13.066576
2578  83.341798
2579  49.416020
2580  10.167551
2581  26.941765
2582  84.516469
2583  85.098203
2584   9.851790
2585  13.032985
2586  85.044441
2587  26.652886
2588   9.934242
2589  27.970823
2590  28.239923
2591  22.527636
2592  14.333293
2593  10.005458
2594  51.341994
2595   9.939292
2596  22.147537
2597  50.220989
2598  22.150665
2599  13.379145
2600  50.631554
2601  28.092760
2602  85.849083
2603  26.903155
2604   9.902700
2605  21.908098
2606  89.199514

[3623 rows x 1 columns]

In [56]:
df.head(1000).tail(1)

,num_rows,num_features,n_estimators,max_depth,min_samples_split,min_samples_leaf,min_weight_fraction_leaf,max_features,max_leaf_nodes,min_impurity_decrease,min_impurity_split,bootstrap,oob_score,n_jobs,output
999,25000000,50,100,50,4,5,0.5,10,2,5,10,True,False,1,233.784511

In [57]:
rf= RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=50,
           max_features=10, max_leaf_nodes=2, min_impurity_decrease=5,
           min_impurity_split=10, min_samples_leaf=5,
           min_samples_split=4, min_weight_fraction_leaf=0.5,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [58]:
X,y=np.random.rand(25000000,50),np.random.rand(25000000,1)

In [59]:
estimatorS.estimate_duration(X,rf)

2018-09-16 21:21:21,426 - main - Fetching estimator: RF_estimator.pkl
2018-09-16 21:21:21,470 - main - Training your model should take ~ 177.543734455 seconds

array([ 177.54373446])

In [60]:
estimatorS.algo_estimator

'RF'

In [61]:
start_time = time.time()
rf.fit(X,y)
elapsed_time = time.time() - start_time

In [62]:
elapsed_time

218.046315908432

In [27]:
df.tail(10)

,num_rows,num_features,n_estimators,max_depth,min_samples_split,min_samples_leaf,min_weight_fraction_leaf,max_features,max_leaf_nodes,min_impurity_decrease,min_impurity_split,bootstrap,oob_score,n_jobs,output
2597,10000000,100,100,200,4,5,0.25,10,2,10,5,True,False,2,50.220989
2598,10000000,100,100,200,4,5,0.25,20,10,10,10,True,False,8,22.150665
2599,10000000,100,100,200,4,5,0.50,10,2,1,5,False,False,1,13.379145
2600,10000000,100,100,200,4,10,0.50,50,2,5,1,True,False,2,50.631554
2601,10000000,100,100,200,10,1,0.10,auto,2,1,10,True,False,5,28.092760
2602,10000000,100,100,200,10,1,0.10,50,2,1,5,True,False,1,85.849083
2603,10000000,100,100,200,10,5,0.25,auto,4,1,10,True,False,5,26.903155
2604,10000000,100,100,200,10,5,0.50,auto,2,1,1,False,False,2,9.902700
2605,10000000,100,100,200,10,10,0.25,20,4,5,5,True,False,8,21.908098
2606,10000000,100,100,200,10,10,0.50,auto,10,10,10,True,False,1,89.199514